sudo: false
language: ruby

rvm:
  - 2.0.0
  - 2.1
  - 2.2

branches:
  only:
    - master

before_install:
  - gem update bundler

script: bundle exec rake test

gemfile:
  - Gemfile
  - gemfiles/fluentd_v0.10.gemfile
  - gemfiles/fluentd_v0.12.gemfile
